table {
  box-shadow: none !important;
  @apply border text-slate-800;
}

@media print {
  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  @page {
    size: A4;
    margin: 0;
  }

  page-container {
    border: none;
    box-shadow: none;
    width: 8.5in;
    height: 11in;
  }
}
